* {
  margin: 0;
}

body{
    background-color: #EBEBEB;
}

header {
  background-color: black;
  height: 55px;
}

h1 {
  font-family: 'Comfortaa', cursive;
  font-size: 2em;
  text-align: center;
  color: white;
  padding-top: 5px;
}

.abuelo {
  width: 200px;
  height: 200px;
  position: relative;
  background: #E9BCB7;
  margin: 0 auto;
  margin-top: 15px;
}
.abuelo2 {
  margin-top: 10px;
  background-color: #320E3B;
}

.hijoPapa {
  width: 100px;
  height: 100px;
  position: absolute;
  margin-left: 25%;
  margin-top: 25%;
  background: #29524A;
}
.hijoPapa2 {
  background-color: yellow;
}

.hijito {
  width: 50px;
  height: 50px;
  position: absolute;
  background: #C5AFA0;
}
.hijito2 {
  background: #4C2A85;
}
